<template>
    <v-dialog
            v-model="isOpen"
            width="1000"
    >
        <v-tooltip slot="activator" bottom>
            <v-btn icon slot="activator">
                <v-icon>
                    info
                </v-icon>
            </v-btn>
            <span>Documentation</span>
        </v-tooltip>
        <v-card ref="form">

            <v-card-title primary-title class="indigo">
                <span class="headline white--text">Documentation</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <img src="@/assets/doc_utilisation_cso1.png" height="700px">
                    <img src="@/assets/doc_utilisation_cso2.png" height="700px">
                    <img src="@/assets/doc_utilisation_cso3.png" height="700px">
                    <img src="@/assets/doc_utilisation_cso4.png" height="700px">
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="indigo" class="white--text" light @click="cancel()">
                    Fermer
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
	export default {
		name: 'about',
		data: () => ({
			isOpen: false,
		}),
		methods: {
			cancel: function() {
				this.isOpen = false;
			}
		}
	};
</script>

<style scoped>

</style>
