<template>
    <v-dialog
            v-model="isOpen"
            width="500"
    >

        <v-btn dark color="blue" slot="activator">
            Ajouter une ville
        </v-btn>
        <v-card ref="form">


            <v-card-title primary-title class="headline indigo text--lighten-5">
                <span class="headline white--text">Ajouter une ville</span>
            </v-card-title>

            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap column>
                        <v-flex xs12 sm6 md4>
                            <v-text-field

                                    label="Nom*"
                                    v-model="city.name"
                                    required
                                    :rules="[() => !!city.name || 'Ce champs est requis']"
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 v-if="travel.getCities().length !== 0">
                            <v-text-field

                                    label="Distance depuis le départ*"
                                    v-model="city.distance"
                                    type="number"
                                    suffix="km"
                                    min="1"
                                    required
                                    :rules="[() => !!city.distance || 'Ce champs est requis']"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  flat @click="cancel()">
                    Annuler
                </v-btn>
                <v-btn
                        :disabled="!city.name"
                        flat
                        @click="confirm()">
                    Ajouter
                </v-btn>
            </v-card-actions>

        </v-card>
    </v-dialog>
</template>

<script>

	import {mapActions, mapGetters } from 'vuex';
	export default {
		name: 'city-card',
		data: function () {
			return {
				isOpen: false,
				city: {
					name: null,
                    distance: 0
				}
			}
		},
        computed: {
            ...mapGetters(['travel'])
        },
		methods: {
			...mapActions(['city_addOne']),
			confirm: function () {
				this.city_addOne(this.city);
				this.city = {
					name: null,
				    distance: 1
				};
				this.isOpen = false;
			},
			cancel: function () {
				this.isOpen = false
			}
		}
	};
</script>

<style scoped>

</style>

