<template>
    <v-list-tile
            :key="city._id"
            avatar
    >
        <v-list-tile-content>
            <v-list-tile-title v-html="city.getName()"></v-list-tile-title>

        </v-list-tile-content>
        <v-list-tile-action>
            <v-btn icon @click="removeCity(city)">
                <v-icon>
                    delete
                </v-icon>
            </v-btn>
            <v-flex>
                <v-btn v-if=" i === 1" icon @click="moveBack(city, i - 1)">
                    <v-icon>
                        arrow_upward
                    </v-icon>
                </v-btn>
            </v-flex>
            <v-flex>
                <v-btn icon v-if="false" @click="moveNext(city, i)">
                    <v-icon>
                        arrow_backward
                    </v-icon>
                </v-btn>
            </v-flex>
        </v-list-tile-action>

    </v-list-tile>
</template>

<script>

	import {mapActions} from 'vuex';

	export default {
		name: 'city',
		props: {
			city: Object,
            i: Number
		},
		methods: {
			...mapActions({
				removeCity: 'city_removeOne',
				move_next: 'city_moveNext',
				move_back: 'city_moveBack'
			})
		}
	};
</script>

<style scoped>

</style>
