<template>
    <v-dialog
            v-model="isOpen"
            width="500"
    >
        <v-tooltip slot="activator" bottom>
            <v-btn icon slot="activator">
                <v-icon>
                    favorite
                </v-icon>
            </v-btn>
            <span>Documentation</span>
        </v-tooltip>
        <v-card ref="form">

            <v-card-title primary-title class="indigo">
                <span class="headline white--text">Crédits</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <span class="text--accent-2 wrap">
                        Ce projet a été réalisé pour le <b>Master 2 Données & Connaissances</b> de l'Université Toulouse III - Paul Sabatier.
                        <br/>
                        Dans le cadre de l'UE <b>Modèle d'incertitude, de raisonnement et de décision</b>.

                    </span>
                    <br/>
                    <br/>
                    <span>
                        Il a été réalisé par <a href="mailto:arnaud.soler66@gmail.com">Arnaud SOLER</a> et <a href="http://www.ldmn.fr">Léo DUMON</a>
                    </span>

                    <br/>
                    <br/>
                    <span>
                        Code source accessible <a href="https://gitlab.com/Myastro/cso">ici</a>
                    </span>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="indigo" class="white--text" light @click="cancel()">
                    Fermer
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
	export default {
		name: 'credits',
		data: () => ({
			isOpen: false,
		}),
		methods: {
			cancel: function() {
				this.isOpen = false;
			}
		}
	};
</script>

<style scoped>

</style>
