<template>
    <v-container>
        <v-layout>
            <v-flex>
                <div class="headline">
                    {{title}}
                </div>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12 sm3 md3 lg3 v-for="p in passengers" :key="p._id" >
                <slot :passenger="p"/>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>


	export default {
		name: 'list-cost',
		props: {
			title: {
				type: String,
				required: true
			},
            passengers: {
				type: Array,
                required: true
            }
		}

	};
</script>

<style scoped>

</style>
