<template>
    <v-dialog
            v-model="isOpen"
            width="500"
    >
        <v-btn slot="activator" dark color="blue">
            Ajouter un passager
        </v-btn>
        <v-card ref="form">

            <v-card-title primary-title class="indigo">
                <span class="headline white--text">Ajouter un passager</span>
            </v-card-title>

            <v-card-text>
                <v-container grid-list-md>
                    <v-layout column>
                        <v-flex xs12 sm12 md12>
                            <v-text-field
                                    label="Nom*"
                                    v-model="passenger.name"
                                    required
                                    :rules="[() => !!passenger.name || 'Ce champs est requis']"
                            ></v-text-field>
                        </v-flex>
                        <v-container>
                            <v-layout row align-center justify-space-around>
                                <v-flex xs12 md12 sm12 lg12>

                                    <v-select
                                            v-model="passenger.endCity"
                                            placeholder="Ville d'arrivée"
                                            :items="cities.slice(1)"
                                            item-text="name"
                                            single-line
                                            return-object
                                            label
                                            required
                                            :rules="[() => !!passenger.name || 'Ce champs est requis']"
                                    ></v-select>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-layout>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  flat @click="cancel()">
                    Annuler
                </v-btn>
                <v-btn
                        :disabled="!passenger.endCity.name || !passenger.name"
                        flat
                        @click="confirm()">
                    Ajouter
                </v-btn>
            </v-card-actions>

        </v-card>
    </v-dialog>
</template>

<script>


	import {mapActions} from 'vuex';
	export default {
		name: 'passenger-card',
		data: function () {
			return {
				isOpen: false,
				passenger: {
					name: null,
					endCity: {
						name: null
					},
					distance: null
				}
			}
		},
		computed: {
			cities () {
				return this.$store.getters.cities;
			}
		},
		methods: {
			...mapActions({
				passenger_addOne: 'passenger_addOne',
				passenger_setOne: 'passenger_setOne'
			}),
			confirm: function () {

				this.passenger.startCity = this.cities[0];

				this.passenger_addOne(this.passenger);
				this.passenger = {
					name: null,
					startCity: this.cities[0],
					endCity: {
						name: null
					}
				};
				this.isOpen = false
			},
			cancel: function () {
				this.isOpen = false;
			}
		}
	};
</script>

<style scoped>

</style>
