<template>
    <v-flex>
        <div>
            <h3 class="headline mb-0">{{passenger.name}}</h3>
            <div>
                Distance parcourue : {{passenger.distance}} km
            </div>
        </div>
        <v-range-slider
                :tick-labels="travel.getCities().map(_ => _.getName())"
                :max="travel.getCities().length - 1"
                v-model="startCity"
                ticks="always"
                tick-size="2"
        >

        </v-range-slider>
        <v-spacer/>
        <v-btn icon @click="passenger_deleteOne(passenger)">
            <v-icon>
                delete
            </v-icon>
        </v-btn>
    </v-flex>
</template>

<script>

	import {mapActions, mapGetters} from 'vuex';

	export default {
		name: 'passenger',
		data: function() {
			return {
				startCity: this.passenger.startCity.name,
				endCity: this.passenger.endCity.name
			};
		},
	props: {
		passenger: Object
	},
	computed: {
	...mapGetters(['travel'])
	},
	methods: {
	...mapActions([
			'passenger_deleteOne'
		])
	}
	};
</script>

<style scoped>

</style>
