<template>
    <v-dialog
            v-model="isOpen"
            width="500"
    >
        <v-btn icon slot="activator">
            <v-icon small>
                edit
            </v-icon>
        </v-btn>
        <v-card ref="form">

            <v-card-title primary-title class="indigo">
                <span class="headline white--text">Modifier un passager</span>
            </v-card-title>

            <v-card-text>
                <v-container grid-list-md>
                    <v-layout column>
                        <v-flex xs12 sm12 md12>
                            <v-text-field
                                    label="Nom*"
                                    v-model="p.name"
                                    required
                                    :rules="[() => !!p.name || 'Ce champs est requis']"
                            ></v-text-field>
                        </v-flex>
                        <v-container>
                            <v-layout row align-center justify-space-around>
                                <v-flex xs12 md6 sm6 lg6>
                                    <v-select
                                            :disabled="true"
                                            v-model="p.startCity"
                                            placeholder="Ville de départ"
                                            :items="!!p.endCity.name ? cities.slice(0, cities.findIndex(_ => _._id === p.endCity._id)) : cities"
                                            item-text="name"
                                            single-line
                                            return-object
                                            label
                                            required
                                            :rules="[() => !!p.name || 'Ce champs est requis']"
                                    ></v-select>
                                </v-flex>
                                <v-flex xs12 md6 sm6 lg6>

                                    <v-select
                                            v-model="p.endCity"
                                            placeholder="Ville d'arrivée"
                                            :items="!!p.startCity.name ? cities.slice(cities.findIndex(_ => _._id === p.startCity._id) + 1) : cities"
                                            item-text="name"
                                            single-line
                                            return-object
                                            label
                                            required
                                            :rules="[() => !!p.name || 'Ce champs est requis']"
                                    ></v-select>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-layout>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  flat @click="cancel()">
                    Annuler
                </v-btn>
                <v-btn
                        :disabled="!p.startCity.name || !p.endCity.name || !p.name"
                        flat
                        @click="confirm()">
                    Ajouter
                </v-btn>
            </v-card-actions>

        </v-card>
    </v-dialog>
</template>

<script>


	import {mapActions} from 'vuex';
	export default {
		name: 'passenger-edit',
		data: function () {
			return {
				isOpen: false,
                p: this.passenger
			}
		},
		computed: {
			cities () {
				return this.$store.getters.cities;
			}
		},
		props: {
			passenger: {
				type: Object,
				required: true
			}
		},
		methods: {
			...mapActions({
				passenger_setOne: 'passenger_setOne'
			}),
			confirm: function () {
				this.passenger_setOne(this.p);
				this.isOpen = false;
			},
			cancel: function () {
				this.isOpen = false;
			}
		}
	};
</script>

<style scoped>

</style>
