<template>
    <v-expansion-panel-content>
        <v-flex class="headline text-md-center text-xs-center text-lg-center " slot="header">
            Configuration des passagers
        </v-flex>
        <v-container
                fluid
                grid-list-md
                class="mt-3">

            <v-layout
                    column
                    wrap
                    justify-flex-start
                    align-content-center
            >

                <v-flex></v-flex>
                <passenger-card
                        v-if="passengers.length < 5"
                />

                <v-data-table
                        v-if="passengers.length > 0"
                        :headers="headers"
                        :items="passengers"
                        hide-actions
                >

                    <template slot="items" slot-scope="props">
                        <td class="text-xs-left">
                            <v-flex>
                                <v-checkbox color="indigo"
                                            hide-details
                                            v-model="props.item.enable"></v-checkbox>
                            </v-flex>
                        </td>
                        <td>{{ props.item.name }}</td>
                        <td class="text-xs-left">{{ props.item.startCity.name}}</td>
                        <td class="text-xs-left">{{ props.item.endCity.name}}</td>
                        <td class="text-xs-left">{{ props.item.distance }} km</td>
                        <td class="text-xs-left">
                            <v-btn icon>
                                <v-icon  small @click="removePassenger(props.item)">
                                    delete
                                </v-icon>
                            </v-btn>
                            <passenger-edit :passenger="props.item"/>
                        </td>
                    </template>
                </v-data-table>



            </v-layout>


        </v-container>
    </v-expansion-panel-content>
</template>

<script>

	import {mapGetters, mapActions} from 'vuex';

	import PassengerCard from './PassengerCard';
	import PassengerEdit from './PassengerEdit';

	export default {
		components: {
			PassengerEdit,
			PassengerCard,
		},
		data: () => ({
			headers: [
				{
					text: 'Activer',
					value: 'enable',
					sortable: false
				},
				{
					text: 'Nom',
					value: 'name'
				}
				,
				{
					text: 'Départ',
					value: 'startCity.name'
				},
				{
					text: 'Arrivée',
					value: 'endCity.name'
				},
				{
					text: 'Distance',
					value: 'distance'
				},
				{
					text: 'Actions',
					value: '',
					sortable: false
				}
			]
		}),
		name: 'passengers',
		computed: {
			...mapGetters(['passengers'])
		},
		methods: {
			...mapActions({
				removePassenger: 'passenger_deleteOne',
				resetPassengers: 'passengers_resetAll'

			})
		}
	};
</script>

<style scoped>

</style>
