<script src="../main.js"></script>
<template>

    <v-dialog
            v-model="isOpen"
            width="500"
    >
        <v-tooltip bottom slot="activator">
            <v-btn icon slot="activator">
                <v-icon>
                    refresh
                </v-icon>
            </v-btn>
            <span>Réinitialiser</span>
        </v-tooltip>

        <v-card ref="form">

            <v-card-title primary-title class="indigo">
                <div class="headline white--text">Réinitialiser le système</div>
            </v-card-title>

            <v-card-text>
                <v-container grid-list-md>
                    <span class="text--accent-2 wrap">En réinitialisant le système, l'ensemble des valeurs sauvegardées au sein de votre navigateur seront remises à leur valeurs par défaut</span>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  flat @click="cancel()">
                    Annuler
                </v-btn>
                <v-btn
                        color="error"

                        @click="reset_all()">
                    Réinitialiser
                </v-btn>
            </v-card-actions>

        </v-card>
    </v-dialog>
</template>

<script>

	import {mapActions} from 'vuex';

	export default {
		name: 'reset-card',
		data: () => ({
			isOpen: false
		}),
		methods: {
			...mapActions({
				reset_travel: "travel_reset",
				reset_passenger: "passengers_resetAll"
			}),
			reset_all() {
				this.reset_passenger();
				this.reset_travel();
				this.isOpen = false;
			},
			cancel() {
				this.isOpen = false;
			}
		}
	};
</script>

<style scoped>

</style>
