<template>
    <v-expansion-panel-content>
        <div class="headline text-md-center text-xs-center text-lg-center " slot="header">
            Configuration du trajet
        </div>
        <v-container
                fluid
                grid-list-md>
            <v-layout row>

                <v-flex xs4 md4 lg4 sm4>
                    <v-text-field
                            type="number"
                            v-model="cost"
                            step="0.01"
                            min="0"
                            label="Cout par km"
                            prefix="€"
                    ></v-text-field>
                </v-flex>
                <v-flex>
                    <v-chip
                            class="indigo white--text"
                            v-for="(ville,i) in travel.getCities()"
                            :key="i"
                    >
                        {{ville.name}}
                    </v-chip>

                </v-flex>

            </v-layout>
            <city-card/>

            <v-flex class="white">


                <v-data-table
                        v-if="travel.getCities().length> 0"
                        :headers="headers"
                        :items="travel.getCities()"
                        hide-actions
                >

                    <template slot="items" slot-scope="props">
                        <td class="text-xs-left">{{ travel.getCities().findIndex( _ => _._id === props.item._id) }}</td>
                        <td>{{ props.item.name }}</td>
                        <td class="text-xs-left">{{ props.item.distance }} km</td>
                        <td class="text-xs-left">
                            <v-icon small class="mr-2" @click="removeCity(props.item)">
                                delete
                            </v-icon>
                            <v-icon small>
                                edit
                            </v-icon>
                        </td>
                    </template>
                </v-data-table>


            </v-flex>
        </v-container>

    </v-expansion-panel-content>

</template>

<script>

	import {mapGetters, mapActions} from 'vuex';
	import CityCard from './CityCard';

	export default {
		components: {
			// City,
			CityCard
		},
		name: 'travel',
		data: () => ({
			isOpen: false,
			headers: [
				{
					text: 'Position',
					value: null
				},
				{
					text: 'Nom',
					value: 'name'
				}
				,
				{
					text: 'Distance au départ',
					value: 'distance'
				},
				{
					text: 'Actions',
					value: '',
					sortable: false
				}
			]

		}),
		computed: {
			...mapGetters([
				'travel',
			]),
			cost: {
				get () {
					return this.$store.getters.cost
				},
				set (v) {
					return this.$store.commit('SET_COST', v)
				}
			}
		},
		methods: {
			...mapActions({
				setCost: 'set_cost',
				removeCity: 'city_removeOne',
				resetTravel: "travel_reset",
			})
		}
	};
</script>

<style scoped>

</style>
