<template>
    <v-card :class="{ 'blue-grey darken-2 white--text': !passenger.enable,'indigo--text': passenger.enable}">
        <v-container>
            <div class="text-lg-center text-sm-center text-md-center">
                <div class="headline">{{passenger.name}}</div>
                <div class="headline">
                    {{(cost * passenger.distance).toFixed(2)}} €
                </div>
            </div>
        </v-container>
    </v-card>

</template>

<script>
	import {mapGetters} from 'vuex';

	export default {
		name: 'alone-cost',
		computed: {
			...mapGetters([
				'cost',
			])
		},
		props: {
			passenger: {
				type: Object,
				required: true
			}
		}
	};
</script>

<style scoped>

</style>
