<template>
    <v-card :class="{ 'blue-grey darken-2 white--text': passengers.includes(_ => !_.enable),'indigo--text': !passengers.includes(_ => !_.enable)}">
        <v-container>
            <div class="text-lg-center text-sm-center text-md-center">
                <div class="headline" v-for="p in passengers" :key="p.name">{{p.name}}</div>
                <div class="headline">
                    {{multipleCost()}} €
                </div>
                <div class="subheading font-italic">
                    Soit {{(multipleCost() / passengers.length).toFixed(2)}} € par pers.
                </div>
                <div :class="{'error darken-2 white--text': !separationKernel(),' green white--text': separationKernel()}">
                    Allocation par séparation dans le noyau : {{separationKernel()}}
                </div>
                <div :class="{'error darken-2 white--text': !proportionnalKernel(),' green white--text': proportionnalKernel()}">
                    Allocation proportionnelle dans le noyau : {{proportionnalKernel()}}
                </div>
            </div>
        </v-container>
    </v-card>
</template>

<script>
	import {mapGetters} from 'vuex';

	export default {
		name: 'multiple-cost',
        data: function () {
	        return {
	        	multipleCost() {
	        		return this.cost * Math.max(...this.passengers.map(_ => _.distance)).toFixed(2)
		        },
		        separationKernel() {
	        		return (this.passengers.map(_ => this.separationCost(_)).reduce((acc, _) => acc += _)) < this.multipleCost()
                },
                proportionnalKernel() {
	        		return (this.passengers.map(_ => this.proportionnalCost(_)).reduce((acc, _) => acc += _)) < this.multipleCost()
                }
	        }
        },
		computed: {
			...mapGetters([
                'separationCost',
				'proportionnalCost',
				'totalCost',
				'cost',
				'sumAloneCosts'
			])
		},
		props: {
			passengers: {
				type: Array,
				required: true
			}
		}
	};
</script>

<style scoped>

</style>
