<template>
    <v-card class="indigo--text">
        <v-container>
            <div class="text-lg-center text-sm-center text-md-center">
                <div class="headline">{{passenger.name}}</div>
                <div class="headline">
                    {{proportionnalCost(this.passenger).toFixed(2)}} €
                </div>
            </div>
        </v-container>
    </v-card>

</template>

<script>
	import {mapGetters} from 'vuex';

	export default {
		name: 'proportional-cost',
		computed: {
			...mapGetters([
				'proportionnalCost'
			])
		},
		props: {
			passenger: {
				type: Object,
				required: true
			}
		}
	};
</script>

<style scoped>

</style>

<!--(Cout total * Cout seul) / ( Sum des Cout Seul )-->
