<template>
    <v-card>
        <v-container class="indigo--text">
            <div class="text-lg-center text-sm-center text-md-center">
                <div class="headline">{{passenger.name}}</div>
                <div class="headline">
                    {{separationCost(this.passenger).toFixed(2)}} €
                </div>
            </div>
        </v-container>
    </v-card>
</template>

<script>

	import {mapGetters} from 'vuex';

	export default {
		name: 'separation-cost',
		props: {
			passenger: {
				type: Object,
				required: true
			}
		},
		computed: {
			...mapGetters([
                'separationCost',
			])
		}
	};
</script>

<style scoped>

</style>
