<template>
    <v-card :class="{ 'error darken-2 white--text': !success(),' green white--text': success()}">
        <v-container>
            <div class="text-lg-center text-sm-center text-md-center">
                <div class="headline">{{passenger.name}}</div>
                <div class="headline">
                </div>
            </div>
        </v-container>
    </v-card>
</template>

<script>

    import {mapGetters} from 'vuex';
	export default {
		name: 'standalone-test',
		data: function () {
			return {
				success() {
					return (this.cost * this.passenger.distance) >
                        ((this.totalCost * (this.cost * this.passenger.distance)) / this.sumAloneCosts);
				}
			}
		},
		computed: {
			...mapGetters([
				'totalCost',
				'cost',
				'sumAloneCosts'
			])
		},
		props: {
			passenger: {
				type: Object,
				required: true
			}
		}
	};
</script>

<style scoped>

</style>
