<template>
    <v-card :class="{ 'blue-grey darken-2': !totalCost ,'indigo ': totalCost}" class="white--text">
        <v-container>
            <div class="text-lg-center text-sm-center text-md-center">
                <div class="headline">Coût total :</div>
                <div class="headline">
                    <div v-if="totalCost">
                        {{(totalCost).toFixed(2)}} €
                    </div>
                    <div class="font-italic" v-else>
                        Indéfini
                    </div>
                </div>
            </div>
        </v-container>
    </v-card>

</template>

<script>

	import {mapGetters} from 'vuex';
	export default {
		name: 'total-cost',
		computed: {
			...mapGetters(['totalCost'])
		}
	};
</script>

<style scoped>

</style>
