<template>
    <v-app>
        <v-toolbar app color="indigo" dark>
            <v-toolbar-title class="headline text-uppercase">
                <v-icon large >
                    directions_car
                </v-icon>
                <span class="font-weight-black"> CCSA - </span>
                <span class="font-weight-light"> Carpool Cost Sharing Application</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <reset-card/>
            <credits/>

            <about/>

        </v-toolbar>

        <v-content >
            <v-layout column wrap >
                <v-flex class="pa-5" xs12 sm12 md5 lg5 xl5>
                    <v-expansion-panel light expand>

                        <travel/>
                        <passengers/>
                    </v-expansion-panel>

                </v-flex>
                <v-flex class="pt-4" xs12 sm12 md7 lg7 xl7 >
                    <v-container grid-list-md text-xs-center>
                        <v-layout row >
                            <v-flex xs12 sm4 md4 lg4>
                                <total-cost/>

                            </v-flex>
                            <v-flex>
                                <list-cost :passengers="passengers" title="Coût si seul">
                                    <template slot-scope="ps">
                                        <alone-cost :passenger="ps.passenger"/>
                                    </template>
                                </list-cost>

                                <list-cost :passengers="passengers" title="Allocation à coûts proportionnels">
                                    <template slot-scope="ps">
                                        <proportional-cost  v-if="ps.passenger.enable" :passenger="ps.passenger"/>
                                    </template>
                                </list-cost>

                                <list-cost :passengers="passengers" title="Stand-alone test">
                                    <template slot-scope="ps">
                                        <standalone-test :passenger="ps.passenger"/>
                                    </template>
                                </list-cost>

                                <list-cost :passengers="passengers" title="Allocation par séparation">
                                    <template slot-scope="ps">
                                        <separation-cost  v-if="ps.passenger.enable" :passenger="ps.passenger"/>
                                    </template>
                                </list-cost>

                                <list-cost v-if="passengers.length >= 2" title="Coût à 2" :passengers="couplePassenger">
                                    <template slot-scope="ps">
                                        <multiple-cost v-if="!ps.passenger.includes(_ => !_.enable)" :passengers="ps.passenger"/>
                                    </template>
                                </list-cost>

                                <list-cost v-if="passengers.length >= 3" title="Coût à 3" :passengers="triplePassenger">
                                    <template slot-scope="ps">
                                        <multiple-cost v-if="!ps.passenger.includes(_ => !_.enable)" :passengers="ps.passenger"/>
                                    </template>
                                </list-cost>


                                <list-cost v-if="passengers.length >= 4" title="Coût à 4" :passengers="quatuorPassenger">
                                    <template slot-scope="ps">
                                        <multiple-cost v-if="!ps.passenger.includes(_ => !_.enable)" :passengers="ps.passenger"/>
                                    </template>
                                </list-cost>

                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-flex>
            </v-layout>
        </v-content>
    </v-app>
</template>

<script>

	import {mapGetters} from 'vuex';

	import ResetCard from './components/ResetCard';
	import Passengers from './components/Passengers';
	import Travel from './components/Travel';
	import About from './components/About';
	import TotalCost from './components/costs/TotalCost';
	import ListCost from './components/ListCost';
	import AloneCost from './components/costs/AloneCost';
	import ProportionalCost from './components/costs/ProportionalCost';
	import SeparationCost from './components/costs/SeparationCost';
	import StandaloneTest from './components/costs/StandaloneTest';
	import MultipleCost from './components/costs/MultipleCost';
    import Credits from './components/Credits';

	export default {
		name: 'App',
		components: {
			Credits,
			MultipleCost,
			StandaloneTest,
			SeparationCost,
			ProportionalCost,
			AloneCost,
			ListCost,
			TotalCost,
			About,
			Travel,
			Passengers,
			ResetCard
		},
		mounted: function() {
			this.$store.dispatch('load_travel');
			this.$store.dispatch('load_passengers');


			if(localStorage.getItem('first_launch') === null) {
				this.$store.dispatch('travel_reset');
				localStorage.setItem('first_launch', false);
            }
		},
		computed: {
			...mapGetters([
				'passengers',
				'couplePassenger',
                'triplePassenger',
                'quatuorPassenger'
			]),
		}
	}
</script>

<style>
    .full-height {
        position: relative;
        height: 50%;
        overflow-y: scroll;
    }
</style>
